
{% extends "AppCasa/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}

<div align=center>
    <h2 style="color:#D4AF37"  ><div    style="background-color:#000000;" >CREADORES</div></h2>
    </div>


{% if object_list %}
        {%for creador in object_list %}
            
                <font  " face="verdana, arial, helvetica" size=4>
                    <b><h2>{{creador.name}} {{creador.lastname}}</h2></b> 
                    <br>{{creador.descripcion}}</br>
                    {% if creador.imagen %}
                    <img src="{{ creador.imagen.url }}" />
                    {% endif %}
                    </br>
                    
                </font>
            </a>
        {% endfor %}
    {% else %}

        <h3>No hay entregas aún</h3>

    {% endif %}




{% endblock contenido_base %} 