
{% extends "AppCasa/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}
<div align=center>
    <h2 style="color:#D4AF37"  ><div    style="background-color:#000000;" >SOBRE LA PÁGINA</div></h2>
</div>
<h4><p> Esta página web simula ser una página para miembros de la comunidad mágica que asisten al colegio de Hogwarts de magía y Hechicería. 
    <br>El administrador de la misma es Albus Dumbledore.</br>
    En la misma se puede acceder a registros de casas, estudiantes, profesores y hechizos. Como así también un blog donde se puede compartir artículos de intéres. La forma de acceder a la edición de los mismos es mediante la creación de un usuario.
</p></h4>
<div align=center>
    <h2 style="color:#D4AF37"  ><div    style="background-color:#000000;" >CREADORES</div></h2>
    </div>


{% if object_list %}
        {%for creador in object_list %}
            
                <font  " face="verdana, arial, helvetica" size=4>
                    <b><h2>{{creador.name}} {{creador.lastname}}</h2></b> 
                    <br>{{creador.descripcion}}</br>
                    {% if creador.imagen %}
                    <img src="{{ creador.imagen.url }}" />
                    {% endif %}
                    </br>
                    
                </font>
            </a>
        {% endfor %}
    {% else %}

        <h3>No hay entregas aún</h3>

    {% endif %}




{% endblock contenido_base %} 