
{% extends "AppCasa/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}
<br><button type="button" class="btn btn-outline-dark"><a href="{% url 'post_create' %}"><b style= "color:#000000 ">CREAR UN ARTÍCULO</a></b></button></br>
<div align=center>
    <h2 style="color:#D4AF37"  ><div    style="background-color:#000000;" >ÁRTICULOS</div></h2>
    </div>


{% if object_list %}
        {%for post in object_list %}
            
                <font  " face="verdana, arial, helvetica" size=4>
                    <b><h2>{{post.title}}:</h2></b> 
                    <br>{{post.subtitle}}</br>
                    <br>{{post.content|truncatechars:200}}</br>

                    <br><a  href="{% url 'post_update' post.id %}"><b style= "color:#000000">Editar</b></a>
                    <a href="{% url 'post_delete' post.id %}"><b style= "color:#000000">Eliminar</b></a>
                    <a href="{% url 'post_detail' post.id %}"><b style= "color:#000000">Leer</b></a></br>
                    </br>
                    
                </font>
            </a>
        {% endfor %}
    {% else %}

        <h3>No hay entregas aún</h3>

    {% endif %}




{% endblock contenido_base %} 