{% extends "AppCasa/plantilla_base.html" %}

{% block contenido_base %}
<br><h1>{{post.title}}</h1>


<br>Autor:{{post.author}}</br>
<br>Fecha de publicación:{{post.published}}</br>


<table width="500" cellspacing="1" cellpadding="4" border="0" bgcolor="#263238 ">
    <tr>
        <td bgcolor="#263238 ">
        <font color="#E0E0E0 " face="verdana, arial, helvetica" size=2>
            {{post.subtitle}}
        </font>
        </td>
    </tr>
    </table>
{% if object_list %}
<br><img src="{{ object.imagen.url }}" /></br>
{% endif %}

<br><table width="1000" cellspacing="1" cellpadding="4" border="0" bgcolor="#E0E0E0">
    <tr>
        <td bgcolor="#E0E0E0">
        <font face="verdana, arial, helvetica" size=2>
        {{post.content}}
        </font>
        </td>
    </tr>
    </table>
</br>
</br>

{% endblock contenido_base %} 