{% extends "AppCasa/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

{% if borrado %}
<div class="eliminado">Fue eliminado exitosamente el profesor de ID: {{ borrado }}</div>
{% endif %}

{% if actualizado %}
<div class="actualizar">Fueron actualizados con exito los datos del profesor ID: {{actualizado}}</div>
{% endif %}

<h1>Profesores</h1>
<a href="{% url 'profesores_formulario' %}">Agregar un profesor</a>


<br><br>
<h3>Profesores actuales:</h3>

<table border="2">

    <tr>
      <td>
        <b>Nombre</b>
      </td>
      <td>
        <b>Apellido</b>
      </td>
      <td>
        <b>Materia</b>
      </td>
      <td>
        <b>Casa</b>
      </td>
      <td>
        <b>Actualizar</b>
      </td>
      <td>
        <b>Eliminar</b>
      </td>
    </tr>
    {% for profesor in profesores %}
    <tr>
      <td>{{profesor.nombre}}</td>
      <td>{{profesor.apellido}}</td>
      <td>{{profesor.materia}}</td>
      <td>{{profesor.casa}}</td>
      <td><a href="{% url 'actualizar_profesor' profesor.id %}">Actualizar</a></td>
      <td><a href="{% url 'eliminar_profesor' profesor.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}